<div {{ attributes }}>
    <a href="{{ path('app_tags_ticket', {id: tag.id}) }}" class="card w-full bg-base-100 hover:shadow transition-all duration-500 hover:border-primary border group">
        <div class="card-body">
            <div class="card-actions justify-between">
                <h2 class="card-title">{{ tag.name }}</h2>
            </div>

            <div class="card-actions justify-start">
                <p class="inline-flex gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 0 1 0 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 0 1 0-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375Z" />
                    </svg>

                    {{ tag.tickets|length }} tickets
                </p>
            </div>
        </div>
    </a>
</div>


