{% extends 'layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
    <form method="post" class="prose mx-auto">
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="text-center">Please sign in</h1>
        <div class="form-control">
            <label class="label" for="inputEmail">
                <span class="label-text">Email</span>
            </label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input input-bordered w-full" autocomplete="email" required autofocus>
        </div>

        <div class="form-control">
            <label class="label" for="inputPassword">
                <span class="label-text">Password</span>
            </label>
            <div class="toggle-password-container">
                <input type="password" name="password" id="inputPassword" class="input input-bordered w-full" autocomplete="current-password" required
                    {{ stimulus_controller('symfony/ux-toggle-password/toggle-password', {
                        buttonClasses: ['toggle-password-button']
                    }) }}
                >
            </div>
        </div>
    
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-primary mt-5 w-full" type="submit">
            Sign in
        </button>
    </form>
{% endblock %}
