<dialog id="commentFormModal" class="modal modal-bottom sm:modal-middle" {{ attributes }}>
    <div class="modal-box">
        <h3 class="font-bold text-lg">Hello!</h3>
        <p class="py-4">Press ESC key or click the button below to close</p>
        <twig:Comment:CommentForm ticket="{{ ticket }}" />
        <div class="modal-action">
            <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn">Close</button>
            </form>
        </div>
    </div>
</dialog>
