{% if app.user and ticket is defined and not ticket.isDone %}
    <div {{ attributes }}>
        {{ form_start(form, {
            class: 'gap-5 form-control',
            'novalidate': true,
            'data-action': 'live#action',
            'data-action-name': 'prevent|create',
        }) }}

            <div class="form-control">
                <label class="label">
                    <span class="label-text">{{ form_label(form.content) }}</span>
                </label>
                {{ form_widget(form.content, {
                    attr: {
                        class: 'textarea textarea-bordered w-full'
                    }
                }) }}
                <small class="text-error font-bold">{{ form_errors(form.content) }}</small>
            </div>

            {{ form_rest(form) }}

            <button type="submit" class="btn btn-submit btn-primary w-full mt-5">Post my comment</button>
        {{ form_end(form) }}
    </div>
{% endif %}
