{% extends 'layout.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
    <div class="hero min-h-screen bg-base-100">
        <div class="hero-content">
            <div class="max-w-lg prose">
                <h1 class="text-5xl font-bold text-center">Debug-me</h1>
                <p>Debugging is a crucial part of any developer's life. It's the process of identifying and fixing errors in software. While it can be frustrating, it's also an opportunity to learn and grow as a developer.</p>
                <p>Introducing Debug-Me, your one-stop destination for debugging assistance. Our platform serves as a collaborative community where developers like you can connect, share knowledge, and solve coding challenges together.</p>
                <div class="w-full text-center">
                    <a href="{{ path('app_tags_index') }}" class="btn btn-primary text-center no-underline text-primary-content mx-auto">Get Started</a>
                </div>
                <h2>Experience the Power of Collective Intelligence</h2>
                <p>Debug-Me embodies the spirit of collaboration and support. Post your coding questions or seek help with debugging issues. Our experienced community members will eagerly provide valuable insights and solutions to guide you through the debugging process.</p>
                <h2>Earn Points and Elevate Your Expertise</h2>
                <p>As you actively participate in the community, you'll gain valuable experience and enhance your debugging skills. For every post you create or comment on, you'll receive 1 point. With each point you accumulate, you'll climb the ranks and showcase your expertise to the community.</p>
                <h2>Benefits of Joining Debug-Me</h2>
                <p></p>
                <ul>
                    <li><b>Access to a vast network of developers:</b> Connect with experienced programmers from around the globe and learn from their expertise.</li>
                    <li><b>Unleash your problem-solving abilities:</b> Engage in discussions, share knowledge, and collaborate on solving debugging challenges.</li>
                    <li><b>Sharpen your debugging skills:</b> Practice your debugging techniques and gain confidence in identifying and resolving coding errors.</li>
                    <li><b>Gain recognition for your contributions:</b> Earn points and climb the ranks, showcasing your expertise to the community.</li>
                </ul>
                <h2>Embark on Your Debug-Me Journey Today</h2>
                <p>Whether you're a seasoned developer or a budding programmer, Debug-Me is your gateway to mastering the art of debugging. Join our community, share your knowledge, and gain valuable insights from fellow developers. Together, we can elevate our debugging skills and become the masters of software craftsmanship.</p>
            </div>
        </div>
    </div>
{% endblock %}
