<div class="modal-box" {{ attributes }}>
    <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="font-bold text-lg">Tag settings</h3>
    <p class="py-4">You can either delete or change the name of a tag</p>
    <div class="modal-action">
        {% if tag.id is defined and tag.id is not null %}
        <a href="{{ path('app_tag_update', {id: tag.id ?? 0}) }}" class="btn btn-warning text-warning-content">
            Update
        </a>
        <a href="{{ path('app_tag_delete', {id: tag.id ?? 0}) }}" class="btn btn-error text-error-content">
            Delete
        </a>
        {% endif %}
    </div>
</div>

