<div class="" {{ attributes }}>
    {{ form_start(form) }}
        <div class="join">
            {{ form_widget(form.search, {
                attr: {
                    class: 'input input-bordered join-item w-full xs:input',
                    placeholder: 'Search for a ticket'
                }
            }) }}
            <button class="btn btn-primary join-item rounded-r" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
            </button>
        </div>

        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
