{% extends 'layout.html.twig' %}

{% block content %}
    {{ tags|length }} Tags
    <div class="divider"></div>
    <div class="flex flex-col gap-5">
        {% for tag in tags %}
            <twig:Tags:TagCard tag="{{ tag }}" />
        {% endfor %}
    </div>
{% endblock %}
