{% extends 'layout.html.twig' %}

{% block content %}
    <div class="prose mx-auto">
        <h1 class="text-center">Administration</h1>
    </div>
    <div class="flex flex-row justify-between">
        <h2 class="card-title">{{ tags|length }} Tickets</h2>
        <a class="btn btn-primary" href="{{ path('app_tag_create') }}">
            Create a tag
        </a>
    </div>
    <div class="divider"></div>
    <div class="flex flex-col gap-5">
        {% for tag in tags %}
            <twig:Administration:AdministrationTagCard tag="{{ tag }}" />
        {% endfor %}
    </div>

    <twig:Global:Modal modalId="tagModal">
        <twig:Administration:AdministrationTagModal/>
    </twig:Global:Modal>
{% endblock %}
